<!DOCTYPE html>
<html>
  
<head>
    <header>Stock Pairs Trading Website </header>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Select a sector:</h1>
    <form action="/result" method="post">
        <select name="menu_options">
            <option value="Tech">Tech</option>
            <option value="Materials">Materials</option>
            <option value="Financials">Financials</option>
            <option value="Energy">Energy</option>
            <option value="Healthcare">Healthcare</option>
        </select>
        <input type="submit" value="Submit">
    </form>
    <section class="image-section">
        <img src="image.jpeg" alt="Cool Image">
    </section>
    <footer>
        <p>&copy; Trinay Technology Solutions. All rights reserved.</p>
    </footer>
</body>
</html>





